<?xml version="1.0" encoding="utf-8"?>
<Configuration Hash="F/HKvkdlhkYeQ8RQrMIulJcpyaByDJEx">
	<Section Name="Exceptions">
		<ExceptionPolicies>
			<ExceptionPolicy ReThrow="true" Name="DataBase">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
			<ExceptionPolicy ReThrow="true" Name="WorkFlow">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
			<ExceptionPolicy ReThrow="true" Name="Application">
				<ExceptionTypes>
					<ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
				</ExceptionTypes>
				<ExceptionHandlers>
					<ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
				</ExceptionHandlers>
			</ExceptionPolicy>
		</ExceptionPolicies>
	</Section>
	<Section Name="Logs">
		<LoggingConfiguration>
			<Configuration Name="Exceptions" Running="true">
				<LogStorage>RoyalSystems.Core.Logs.FileLogStorage</LogStorage>
			</Configuration>
		</LoggingConfiguration>
	</Section>
	<Section Name="Security">
		<PageAccess>
			<Page>/Default.aspx</Page>
			<Page>/Login.aspx</Page>
			<Page>/RS/RS_Error.aspx</Page>
			<Page>/RS/RS_Download.aspx</Page>
			<Page>/RS/RS_UploadFile.aspx</Page>
			<Page>/RS/RS_UploadImage.aspx</Page>
			<Page>/RS/OracleConection.aspx.aspx</Page>
			<Page>/RS/Prueba.aspx</Page>
		</PageAccess>
		<AllowedExtensions>
			<Extension>axd</Extension>
			<Extension>asbx</Extension>
			<Extension>rdlc</Extension>
			<Extension>asmx</Extension>
			<Extension>css</Extension>
			<Extension>gif</Extension>
			<Extension>png</Extension>
			<Extension>jpg</Extension>
			<Extension>js</Extension>
		</AllowedExtensions>
	</Section>
	<Section Name="Connections">
		<Connections>
			<sessionState mode="InProc" cookieless="false" timeout="216000"/>
			<ConnectionGroup Name="SERVERSQL">
				<!--
				<ConnectionString Name="SP" Encrypted="false" Provider="SqlServer"> Server=172.0.3.25; User ID=laboratorio; Initial Catalog=SpringSalud_Produccion; password=123456; </ConnectionString>
				<ConnectionString Name="SG" Encrypted="false" Provider="SqlServer"> Server=10.1.2.24; User ID=Precisa; Initial Catalog=SpringSalud_Produccion; password=Precisa; </ConnectionString>
				<ConnectionString Name="AL" Encrypted="false" Provider="SqlServer"> Server=10.7.16.9; User ID=Aliada; Initial Catalog=Spring_Produccion; password=@secure@l14d4; </ConnectionString>
				<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=172.16.10.18\precisa; User ID=jchavez; Initial Catalog=BDComercial; password=Pr3c1s4; </ConnectionString>
				<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=172.16.10.18; User ID=soporteti; Initial Catalog=BDComercial; password=Pr3c1s4$$21; </ConnectionString>
				<ConnectionString Name="PR"	Encrypted="false" Provider="SqlServer"> Server=172.16.10.18; Initial Catalog=BDComercial; User ID=soporteti; password=Pr3c1s4$$21;</ConnectionString>
					Pr3c1s4$$Cl0ud
				<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=10.142.0.2; Initial Catalog=BDComercial; User ID=sa; password=Pr3c1s4; </ConnectionString>
			    <ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=172.16.10.3\precisa; Initial Catalog=BDComercial; User ID=SpringWeb; password=Spr1ngw3b; </ConnectionString>
				<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=35.207.0.196; Initial Catalog=BDComercial; User ID=adminlab; password=4dm1nL@b; </ConnectionString>
			
				<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=DARKON; Initial Catalog=Precisa; User ID=sa; password=sql2016; </ConnectionString>
				<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=104.211.62.150,1435; Initial Catalog=SpringSaludPrueba; User ID=sa; password=royal2016; </ConnectionString>
				<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=DARKON; Initial Catalog=BDInmobiliaria; User ID=sa; password=sql2016; </ConnectionString>

				<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=35.211.13.188; Initial Catalog=BDComercial; User ID=SpringWeb; password=Spr1ngw3b; </ConnectionString>
				<ConnectionString Name="SA"			Encrypted="false" Provider="SqlServer"> Server=localhost\precisa; User ID=SpringWeb; Initial Catalog=BDComercial; password=Spr1ngw3b; </ConnectionString>
				<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=35.211.86.72; Initial Catalog=BDComercial; User ID=SpringWeb; password=Spr1ngw3b;
			
			<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer">	Server=35.211.127.202; Initial Catalog=BDComercial; User ID=SpringWeb; password=Spr1ngw3b;	</ConnectionString>
	<ConnectionString Name="PR" Encrypted="false" Provider="SqlServer"> Server=DARKON; Initial Catalog=Precisa; User ID=sa; password=sql2019;</ConnectionString>

			-->		
									<ConnectionString Name="PR"		  Encrypted="false" Provider="SqlServer"> Server=35.211.113.157; Initial Catalog=BDComercial; User ID=SpringWeb; password=Spr1ngw3b; </ConnectionString>
			
			</ConnectionGroup>
		</Connections>
	</Section>
</Configuration>
